.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.main > div {
    text-align: justify;
    max-width: min(21cm, 100vw);
    padding: 1cm;
    margin: 1cm;
    display: inline-block;
    width: inherit;
    background: #fffe;
}

@media (max-width: 480px) {
    .main > div {
        font-size: 4vw;
        margin: 0;
        padding: 0.25em;
    }
}

.main > div b {
    font-weight: bold;
    color: rgb(25, 57, 161);
}

.main > div h1 {
    text-align: center;
}

.main > div h2 {
    text-align: left;
}

.main > div a,
.main > div a:visited {
    color: #923;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-weight: normal;
}

.main > div > header {
    background-image: url("./trombine-round.avif");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1em;
}

.main > div > header > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75em;
}
