.AppleStoreLink {
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.AppleStoreLink > div {
    margin: 16px;
    border-radius: 13px;
    width: 235px;
    height: 78px;
    background: #000;
}

.AppleStoreLink > div > img {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}
