.Welcome {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.Welcome > img.trombine {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 40vw;
    max-height: 66vh;
}

.Welcome > header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 0.25em;
    color: #a5d5d4;
    font-size: 12vmin;
    text-align: right;
    font-weight: bold;
}

.Welcome > nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 8vmin;
    font-weight: bold;
}

.Welcome > nav ul {
    margin: 0 0 1em 0;
    padding: 0;
}

.Welcome > nav ul::marker {
    content: "";
}

.Welcome > nav a,
.Welcome > nav a:visited {
    color: #8dd971;
    text-decoration: underline;
    text-decoration-color: #8dd97160;
    padding: 0 1em;
    transition: 0.3s all;
    border-radius: 999vmax;
}

.Welcome > nav a:hover {
    background-color: #8dd97199;
    color: #0009;
}
