.Vignettes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;
    padding: 0 1em 1em 1em;
}

div.Vignettes > a {
    position: static;
    display: inline-block;
    cursor: pointer;
    width: 320px;
    height: 240px;
}

.Vignettes > a > div {
    box-shadow: 0 0.25em 1em 0.25em #adf2;
    border: 8px solid #000;
}
