.Card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: linear-gradient(0deg, #f900, #f902, #f901);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px #f903;
}

.image {
    flex: 0 0 auto;
    max-width: 160px;
    max-height: 160px;
}

@media (max-width: 600px) {
    .Card {
        flex-direction: column;
    }

    .image {
        max-width: 100%;
    }
}
