.ColorGuessView {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 3rem 0 0 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1;
}

.ColorGuessView > div:first-child {
    flex: 1 1 auto;
    display: grid;
    place-items: center;
}

.ColorGuessView > div:first-child > div {
    content: "";
    border-radius: 50%;
    width: 60svmin;
    height: 60svmin;
    display: grid;
    place-items: center;
}

.ColorGuessView > div:first-child > div > div {
    content: "";
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.ColorGuessView > footer {
    flex: 0 0 90vw;
    width: 90vw;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 1em;
}

.ColorGuessView > footer p {
    font-size: 200%;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin: 0.5em;
}

.ColorGuessView > footer > div {
    width: 100%;
    background-color: #0006;
    border-radius: 1em;
    padding: 1em;
}

.ColorGuessView > footer > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.wide {
    width: 100%;
    margin: 0;
}

@media (orientation: portrait) {
    .ColorGuessView {
        flex-direction: column;
    }

    .ColorGuessView > footer {
        width: 100svw;
    }
}

.color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1em;
    color: #fff;
    font-weight: bolder;
}
