.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.main > header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
}

.main > header a,
.main > header a:visited {
    color: #8dd971;
    text-decoration: underline;
    text-decoration-color: #8dd97180;
    font-weight: bold;
    padding: 0 1em;
    transition: 0.3s all;
    border-radius: 999vmax;
}

.main > header a:hover {
    background-color: #8dd97199;
    color: #0009;
}
