.Image {
    position: relative;
    margin: 1em 0;
    overflow: hidden;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em #000;
    transition: opacity 0.5s;
}

.Image picture,
.Image img {
    max-width: min(calc(100vw - 20px), 780px);
    max-height: 100svh;
    cursor: pointer;
    margin: 0;
}

.Image > footer {
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 1em 0.5em 0 0.5em;
    color: #fff;
    background: linear-gradient(to top, #000, #000b, transparent);
}

.Image > div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(8px) brightness(50%);
    cursor: pointer;
    z-index: 999999;
    transition: opacity 0.3s;
}

.Image > div.hide {
    opacity: 0;
    pointer-events: none;
}

.Image > div img {
    margin: 0;
    box-shadow: 0 6px 12px #000;
    max-width: calc(100vw - 16px);
    max-height: calc(100svh - 16px);
}

.Image > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Mini {
    pointer-events: none;
    transition: 0.3s opacity;
}
